---
---

@import "minima";

.page-content {
    ol {
        margin-left: 0;
        list-style-position: inside;

        & > li {
            overflow: auto;

            & + li {
                clear: both;
                margin-top: 1rem;
            }

            & > img {
                float: left;
                margin-right: 1rem;
                width: 150px;
            }

            & > h3 {
                display: inline;
            }

            & > ul {
                overflow: auto;
                margin-top: 1rem;
                padding-left: 1rem;
                list-style-type: circle;

                & > li > ul {
                    list-style-type: circle;
                }
            }
        }
    }
}
